<nz-layout>
  <nz-header style="padding-right: 16px !important">
    <div nz-row>
      <div nz-col nzFlex="7">
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="usuario/mapa-grafitis" routerLinkActive="active"
              >Cliente</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="admin/usuario" routerLinkActive="active">Admin</a>
          </li>
        </ul>
      </div>
      <div
        nz-col
        nzFlex="3"
        class="user-logueado"
        nz-space
        nzAlign="center"
        *ngIf="visibleForUsuarioAutenticated"
      >
        <nz-space-item>
          <h3 style="color: white; padding-right: 8px" *ngIf="usuarioLogueado">
            Role: {{ usuarioLogueado.role }}
          </h3>
        </nz-space-item>
        <nz-space-item>
          <h3 style="color: white; padding-right: 8px" *ngIf="usuarioLogueado">
            Email: {{ usuarioLogueado.email }}
          </h3>
        </nz-space-item>
        <nz-space-item>
          <nz-avatar
            [nzSize]="45"
            [nzSrc]="getURL(usuarioLogueado.perfil.avatarUrl)"
            nzIcon="user"
            nz-dropdown
            [nzDropdownMenu]="menu"
          ></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item nzDanger (click)="salir()">Salir</li>
            </ul>
          </nz-dropdown-menu>
        </nz-space-item>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <div [@routeAnimation]="getAnimationData(routerOutlet)">
      <div>
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
    </div>
    <div>
      <router-outlet name="popup"></router-outlet>
    </div>
  </nz-layout>
</nz-layout>
